*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

a, a:hover{
    text-decoration: none;
    color: inherit;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9vh;
    background-color: #ff000069;
}

.top ul{
    list-style: none;
    display: flex;

}

.top li{
    margin: 0vh o.45vh;
}

.top a{
    color: whitesmoke;
}

.top a:hover{
    color: rgba(245, 245, 245, 0.518);
}

nav{
    background-color: #333;
    padding: 0.45vh 1.9vh;
    display: flex;
    align-items: center;
    
}

nav a:hover{
    color: aqua;
}

.logo img{
    width: 4vh;
    margin-right: 0.9vh;
    
}

.logo {
    flex: 1;
}